<% content_for :title, "HoneyOps Docs | Technical Documentation" %>
<% content_for :meta_description, "HoneyOps technical documentation for deploying, configuring, and operating managed honeypots." %>

<div id="docs-root"></div>
<%= javascript_include_tag "docs", defer: true %>
